@keyframes vision {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

.visionAnimation {
	animation: vision 0.5s linear;
}

.canvasPosition {
	top: 2.9px;
	left: 2.9px;
}

.percent {
	font-size: 0.3rem;
}

.percentNumber {
	left: 11px;
	top: 9.5px;
}
