.borderBtn {
	border: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
}

.bgTrailer {
	background-image: linear-gradient(
		to right,
		rgba(3, 37, 65, 0.75) 0%,
		rgba(3, 37, 65, 0.75) 100%
	);
}

.bgJoin {
	background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces_filter(duotone,190235,ad47dd)/lMnoYqPIAVL0YaLP5YjRy7iwaYv.jpg");
}
