@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

html {
	font-family: "Source Sans Pro", arial, sans-serif;
}

.h-75 {
	height: 300px;
}

.h-93 {
	height: 372px;
}

.h-127 {
	height: 508px;
}

.h-142 {
	height: 568px;
}

.max-h-112 {
	max-height: 450px;
}

.max-w-245 {
	max-width: 980px;
}

.w-77 {
	width: 308px;
}

.text-xxs {
	font-size: 8px;
}

.bg-banner {
	background-image: linear-gradient(
			to right,
			rgba(3, 37, 65, 0.8) 0%,
			rgba(3, 37, 65, 0) 100%
		),
		url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/9ZyAUZrfccsjtDwYgc7yvOBnqM9.jpg");
}

.button-search {
	background: linear-gradient(
		to right,
		rgba(30, 213, 169, 1) 0%,
		rgba(1, 180, 228, 1) 100%
	);
}

.bg-film-column {
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		#fff 100%
	);
}

.bg-trending {
	background-image: url("https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg");
	background-repeat: no-repeat;
	background-positions: bottom;
}

.top-50 {
	top: 12.5rem;
}

.bgButton {
	background-image: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
}
.borderLightGreen {
	border: 1px solid rgba(30, 213, 169, 1);
}

html *::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

html *::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: rgba(219, 219, 219, 1);
}

html *::-webkit-scrollbar-track {
	background: transparent;
}
